.App {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* .books{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
} */

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #EEE2DC;
}

input {
  width: 250px;
  height: 36px;
  display: inline-block;
  font-size: 14px;
  margin: 5px;
  padding: 12px 12px;
  box-sizing: border-box;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  width: 280px;
  height: 50px;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
  background-color: #AC3B61;
  padding: 14px 40px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 15px;
  color: #EEE2DC;
}

button:active {
  border-style: outset;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

table {
  font-family: Verdana;
  border-collapse: collapse;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-left: 25vw;
  margin-right: 25vw;
  width: 50%;
  color: #123C69;
  font-size: 14px;
}
  
td, th {
  padding-left: 500px;
  padding-left: 500px;

  border: 1px solid black;
  padding: 8px;
  align-items: center;
  justify-items: center;
  text-align: center;
}

tr:nth-child(even){background-color: #BAB2B5;}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #123C69;
  align-items: center;
  justify-items: center;
  color: #BAB2B5;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: #EDC7B7;
  justify-content: center;
  text-align: center;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

nav li {
  padding: 20px;
}

nav ul li a {
  color: #AC3B61;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

h1 {
  font-family: Verdana;
  font-size: 28px;
  margin-bottom: 20px;
  color: #123C69;
}

h2 {
  font-family: Verdana;
  font-size: 24px;
  color: #123C69;
}

h3 {
  font-family: Verdana;
  font-size: 18px;
  color: #123C69;
}

p {
  font-family: Verdana;
  margin-bottom: 15px;
}

li{
  font-family: Verdana;
  font-size: 14px;
}

label{
  font-family: Verdana;
  font-size: 14px;
  display: inline-block;
  text-align: right;
  clear: left;
  width: 200px;
  text-align: right;
  color: #123C69;
}